# MDK-ARM (Keil)
MDK-ARM/CherryUSB_CEU6/
MDK-ARM/*.uvguix.*
MDK-ARM/build_log.txt
*.o
*.d
*.crf
*.lnp
*.axf
*.htm
*.dep
*.map
*.lst
*.obj
*.iex
*.scvd
*.bak
*.pyc

# STM32CubeIDE / GCC
Debug/
Release/
*.elf
*.bin
*.hex
*.srec
*.list
*.p
*.map

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.bak
*.tmp

# Jujutsu
.jj/
